<%= form_for(alumno) do |f| %>
  <% if alumno.errors.any? %>
    <div id="error_explanation">
      <h2>No se pudo guardar alumno:</h2>

      <ul>
      <% alumno.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table-condensed">
      <tr>
        <div class="field">
          <td><%= f.label 'Nombre' %></td>
          <td><%= f.text_field :nombre %></td>
        </div>
      </tr>
      <tr>
        <div class="field">
          <td><%= f.label 'Apellido' %></td>
          <td><%= f.text_field :apellido %></td>
        </div>
      </tr>
    <tr>
      <div class="field">
        <td><%= f.label 'Nº de cédula' %></td>
        <td><%= f.number_field :cedula %></td>
      </div>
    </tr>
    <tr>
      <div class="field">
        <td><%= f.label 'Nº de telefono' %></td>
        <td><%= f.number_field :telefono %></td>
      </div>
    </tr>
    <tr>
      <div class="field">
        <td><%= f.label 'E-mail' %></td>
        <td><%= f.text_field :correo %></td>
      </div>
    </tr>
    <tr>
      <div class="field">
        <td><%= f.label 'Barrio' %></td>
        <td><%= f.text_field :barrio %></td>
      </div>
    </tr>
    <tr>
      <div class="field">
        <td><%= f.label 'Ciudad' %></td>
        <td><%= f.text_field :ciudad %></td>
      </div>
    </tr>
    <tr>
      <div class="field">
        <td><%= f.label 'Tipo de Alumno' %></td>
        <td><%= f.collection_select :tpersona_id, Tpersona.all, :id, :tipo %></td>
      </div>
    </tr>
    <tr>
      <div class="field">
        <td><%= f.label 'Carrera' %></td>
        <td><%= f.collection_select :carrera_id, Carrera.all, :id, :nombre %></td>
      </div>
    </tr>
  </table>

  <div class="actions">
    <button class="btn btn-success" type="submit">
      Aceptar
    </button>
    <a class="btn btn-danger" href="../inicio/index">Cancelar</a>
  </div>
<% end %>
